platform: linux

image_resource:
  type: docker-image
  source:
    repository: sonarqube
    tag: latest

inputs:
  - name: git-repo

run:
  path: git-repo
  args:
  - -exc
  - |
  mvnw -f git-repo/pom.xml clean install
  cp ./target/*.war ../release

outputs:
  - name: release

params:
  MAVEN_BASEDIR: git-repo